h1{
  font-size:35px;
  font-family: Helvetica;
  font-weight: 600;
}

h2{
  font-size:30px;
  font-weight: 100;
}

h3{
  font-size: 25px;
}

@media all and (min-width:1px) and (max-width:800px){
   
	h1.home__title{
		float:none;
		text-align: center;
		width:100%;
	}

}