.productpicture__list{
  width:17.857142857143%; /*300/1680*/

  margin-left:23.809523809524%; /*400/1680*/
  margin-top:5.88235294117647em; /*100/17*/
  float:left;

  li{
    margin-top:1.76470588235294em; /*30/17*/

    &:first-child{
      margin-top:0px;
    }


  }



}

.productpicture{
  width:100%;
}


@media all and (min-width:1px) and (max-width:800px){

  ul.productpicture__list{

    width:40%;
    margin:4em auto;
    float:none;
  }

}

