.validation__steps{
  text-align: center;
  margin-bottom: 7.05882352941176em; /*120/17*/
  margin-top:5.88235294117647em; /*100/17*/
  line-height: 1;
}



.step{
  display: inline-block;
  background:white;
  position:relative;
  z-index:3;
  margin:0px 5.88235294117647em /*100/17*/
}



.step__order{
  border:1px solid black;
  font-size:1.76470588235294em; /*30/17*/
  font-weight: 100;
  width:38px;
  height:38px;
  border-radius: 100%;
  text-align: center;
  margin:0px auto 0.66666666666667em; /*20/30*/

}

.step--current{
  background:black;
  color:white;
}

@media all and (min-width:901px) and (max-width:1180px){
 
.step{
  margin: 0px 4em;
}


}

@media all and (min-width:611px) and (max-width:900px){

.step{
  margin: 0px 6em 2em;
}

}

@media all and (min-width:1px) and (max-width:610px){

.step{
  margin: 0px 3em 2em;
}

}

