.title--centered{
  text-align: center;
}

.item__title{
  font-size:16px;
  color:$grisFonce;
}

.infos__name, .panier__titre, .item__name, .steps__title, .item__name--small{
  font-weight: 100;
  color:$grisFonce;
}

.item__name--small{
  font-size:1.17647058823529em; /*20/17*/
  margin-bottom:0.5em;
}

.infos__name, .panier__titre, .item__name, .steps__title{
  font-size:30px;
}


.shops__name{
  font-size: 18px;
  font-weight: 200;
  display:inline-block;
}

@media all and (min-width:801px) and (max-width:1150px){
   
.item__name--small{
  width:35%;
}

}

@media all and (min-width:1px) and (max-width:800px){
   
.item__name--small{
  width:100%;
}

}