
.product__list{
  width:85%;
  margin-top:5.88235294117647em; /*100/17*/
  margin-left:7.738095238095%; /*130/1680*/

  .product__section{
    margin-left:10.504201680672% /*150/1428*/
  }
}

.product__item{
  width:14.005602240896%; /*200/1428*/
  font-size: 0.94117647058824em; /*16/17*/
  font-weight: 300;
  margin-left:10.504201680672%; /*150/1428*/
  margin-bottom:7.1875em; /*115/16*/


  &:hover .product__thumbnail{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Chrome, Safari, Opera */
    transform: scale(1.05);
    top:-8px;
  }



  a{
    text-decoration: none;
    color:$grisClair;
  }



}


.product__thumbnail{
  width:100%;
  position:relative;
  top:0px;
  margin-bottom:0.625em; /*10/16*/
  @include transition_css(all,0.25s,ease-in-out,0s);
}

.product__section{
  font-weight: 100;
}

.item__title{
  font-weight: 300;
}


.product__item--left{
  float:left;
}

.price--bare{
  text-decoration: line-through;
  margin-right:4%;
}


.price--sale{
  color:red;
}


@media all and (min-width:601px) and (max-width:900px){
   
   .product__item{
    width:30%;
  }

}


@media all and (min-width:1px) and (max-width:800px){
   
  ul.product__list{
    margin:5.88235294117647em auto;
    float: none;
  }

   .product__item{
    width:30%;
  }

}

@media all and (min-width:1px) and (max-width:600px){


  .product__item{
    width:90%;
    margin-left:0px;
    margin-right:0px;
  }


.item__title, .product__item p{
  float:none;
  position:relative;
  left:20%;
  font-size:1.1em
}

.item__title{
  margin-bottom:10px;
}

}

