.infos__category{
  color:$grisClair;
  font-size:1.17647058823529em; /*20/17*/
  font-weight: 200;
}

.infos__price{
  font-size:1.76470588235294em; /*30/17*/
  font-weight: 100;
}


p[id="infos__taille"] , p[id="infos__livraison"], p[id="infos__details"]{
  width:80%; /*550/1680*/
   display:none;
}

.infos__select{
  display: inline;
  text-align: center;
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border:none;

  }

}

p[id="infos__details"]:target , p[id="infos__taille"]:target , p[id="infos__livraison"]:target{
  display:block;
  -webkit-animation: text-fade-in 1.2s; /* Chrome, Safari, Opera */
  animation: text-fade-in 1.2s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.text_animation{
  -webkit-animation: text-fade-in 1.2s; /* Chrome, Safari, Opera */
  animation: text-fade-in 1.2s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes text-fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

/* Standard syntax */
@keyframes text-fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}


.product__infos{
  margin-left:48.809523809524%; /*820/1680*/
  margin-top:5.88235294117647em; /*100/17*/
  float:left;
  position:fixed;
  padding-bottom:11.76470588235294em; /*200/17*/
}

.infos__details{

  .bouton--large, .bouton--small{
    margin-left:3%; 

    &:first-child{
      margin-left:0px;
    }

  }

  .infos__select{
    margin-left:0px;
  }


}

.infos__validation{
  margin-top:4.70588235294118em; /*80/17*/
  position: relative;
}
@media all and (min-width:801px) and (max-width:1000px){

 div.details__sections a.panier__send, div.details__sections form{
   display:block;
   width:80%;
   margin-left:0px;
   margin-bottom:1em;
}
}

@media all and (min-width:1px) and (max-width:800px){

  div.product__infos{
    position:static;
    margin:0px auto;
    width:60%;
    float:none;

  }

  div.details__sections a.infos__onglettailles,  div.details__sections a.infos__ongletlivraison, div.details__sections a.infos__ongletdetails, div.details__sections a.panier__send, div.details__sections form{
   display:block;
   width:100%;
   margin:1em auto;
   margin-left:0px;
}

div.details__sections{
  margin-bottom:20px;
}

.infos__validation{
  margin-top:2em;
}

.infos__size{
  font-size:0.8em;
}

}






