.contact{
  width:29.761904761905%; /*500/1680*/

  form{
    margin-top:5.88235294117647em; /*100/17*/
  }

  textarea{
    height:11.76470588235294em;
}

label{
	display: block;
}
}


.fullname{
  margin-right:9%; /*50/500*/
}



@media all and (min-width:801px) and (max-width:1600px){
 

 .contact__name{
 	width: 100%;

 	input, div{
 		width: 100%;
 	}
 }

}
@media all and (min-width:1px) and (max-width:800px){
 

 .contact__name{
 	width: 100%;

 	input, div{
 		width: 100%;
 	}
 }

 .contact{
 	width:80%;
 	margin:4em auto;
 }
.contact form div textarea{
  width:100%; /*250/1000*/

}

}