.checkout{
  width:53.571428571429%; /*900/1680*/
  margin-bottom:8.82352941176471em; /*150/17*/
}

.cvv__infos{
  width:22.222222222222%; /*200/900*/
  padding:20px;
  font-weight:14px;
  background:white;
  position:absolute;
  border:1px $grisClair solid;
  opacity:0;
  visibility: hidden;
  @include transition_css(opacity, 0.4s, ease-in-out, 0s);
  text-align:left;

  img{
    width:100%;
  }
}



.cvv__question{
  background: $grisFonce;
  color:white;
  border-radius: 100%;
  font-size:10px;
  font-weight:600;
  padding:3px 5px 3px 6px;
  margin-left:6px;
  position:relative;
  top:-2px;

}

.cvv__label:hover ~ .cvv__infos{
  visibility: visible;
  opacity:1;

}


.card__infos{
  width:40%; /*360/900*/
}




@media all and (min-width:801px) and (max-width:1150px){

.card__infos{
  width:80%;
  margin:4em auto 6em;
  float: none;


  input,div,select, .marged{
    width:100%;
    float:none;
    margin-left:0px;
    margin-right:0px;
  }
}


}

@media all and (min-width:1px) and (max-width:800px){
   

.checkout{
  width: 80%;
  margin:0px auto;
}  
.card__infos{
  width:80%;
  margin:4em auto 6em;
  float: none;

  input,div,select, .marged, {
    width:100%;
    float:none;
    margin-left:0px;
    margin-right:0px;
  }
}


}