.sections__list{
  margin-left:2.97619047619%; /*50/1680*/
  margin-top:3.52941176470588em;  /*50/17*/
  position:fixed;
  background: white;
  z-index:3;

  a{
    color:$grisClair;
    @include transition_css(all, 0.4s, ease-in-out,0s);

    &:hover{
      text-decoration: underline;
      color:$grisFonce;
    }
  }


  .panier{
    color:$grisFonce;

  }
}

.section--selected{
  color:$grisFonce;
  text-decoration: underline;
}




.section__title{
  font-size: 1.05882352941176em; /*18px/17*/
  margin-bottom: 0.83333333333333em; /*15/18*/
}

.section__articles{
  font-size:0.94117647058824em; /*16/17*/
  margin-left:1em; 
  padding-bottom: 1em;
  @include transition_css(all,0.8s,ease-in-out,0);


  &:hover{
    text-decoration: underline;
  }
}




.section__panier{
  padding-top:2.77777777777778em; /*50/18*/
  padding-bottom: 0px;
}
