
.panier{
  width:70%;
  margin-left:16.666666666667%; /*280/1680*/
  margin-top:5.88235294117647em; /*100/17*/
}

.panier--small{
  width:390px;
}

.item__thumbnail{
  width:17.021276595745%; /*200/1175*/

  img{
    width:100%;
  }
}


.item__thumbnail--small{
  width:120px;
  img{
    width:100%;
  }
}


.item__category{
  font-size: 1.17647058823529em; /*20/17*/
}

.item__category--small{
  font-size:1.05882352941176em; /*18/17*/
}

.item__category, .item__category--small{
  color:$grisClair;
}

.panier__item{
  border-bottom: 1px solid #CACACA;
  padding:60px 0px;
}


.item__infos{
  width:80%;
  margin-top:1.76470588235294em; /*30/17*/
  margin-left:2.553191489362%; /*30/1175*/
}

.item__infos--small{
  width:50%;
  margin-top:10px;
  margin-left:15px;
}




.item__price{
  font-size:1.47058823529412em; /*25/17*/
}

.item__price--small{
  font-size: 1.17647058823529em;
}

.item__price, .item__price--small{
  font-weight:100;
}



.panier__view{
  text-decoration: underline;
}

.panier--inner{
  margin-left:150px;
  margin-top:100px;
}


.panier__checkout{
  margin: 80px 0px 200px;
}

.panier__empty{
  margin-top:1.76470588235294em; /*30/17*/
  font-size:1.1em;
  display: none;
}




@media all and (min-width:1px) and (max-width:800px){
   
   .item__thumbnail{
  width:40%; /*200/1175*/

}

.item__price{
  float:none;
  margin:0px;
}

.panier__total{
  margin-bottom:2em;
}

.panier__checkout{
  margin:1em auto;
}

.panier{
  margin-bottom:5em;
}




}
