
.product__list{
  width:85%;
  margin-top:100px;
  margin-left:130px;

  .product__section{
    margin-left:150px;
  }
}

.product__item{
  width:200px;
  font-size: 16px;
  font-weight: 300;
    margin-left:150px;
  margin-bottom:115px;


  &:hover .product__thumbnail{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Chrome, Safari, Opera */
    transform: scale(1.05);
    top:-8px;
  }



  a{
    text-decoration: none;
    color:$grisClair;
  }



}


.product__thumbnail{
  width:100%;
  position:relative;
  top:0px;
  margin-bottom:10px;
  @include transition_css(all,0.25s,ease-in-out,0s);
}

.product__section{
  font-weight: 100;
}

.item__title{
  font-weight: 300;
}


.product__item--left{
  float:left;
}

.price--bare{
  text-decoration: line-through;
  margin-right:10px;
}


.price--sale{
  color:red;
}

