.wrapper--centered{
  margin:0px auto;
}

.home{
   background: url(../img/home4.jpg) no-repeat 30% center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:90%;
  margin:0px;
  position:relative;
}



@media all and (min-width:1px) and (max-width:800px){
   
	.home{
 	 overflow: hidden;


  	img{
    	margin-top:0px;
  	}
}

}