.push__down__smallest{
  margin-bottom:15px;
}

.push__down__small{
  margin-bottom: 25px;
}

.push__down__middle{
  margin-bottom:30px;
}

.push__down__big{
  margin-bottom:50px;
}

.push__up__smallest{
  margin-top:15px;
}

.push__up__small{
  margin-top:20px;
}
.push__up__middle{
  margin-top:30px;
}

.push__up__big{
  margin-top:50px;
}
