
@import "compass/reset";


/**
 * #SETTINGS
 */
@import "../bower_components/inuit-defaults/settings.defaults";
@import "settings.colors";
@import "../bower_components/inuit-responsive-settings/settings.responsive";





/**
 * #TOOLS
 */
@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-mixins/tools.mixins";
@import "../bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.transition";





/**
 * #GENERIC
 */
@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-reset/generic.reset";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";
@import "generic.link";






/**
 * #BASE
 */
@import "base.page";
@import "base.headings";







/**
 * #OBJECTS
 */
@import "../bower_components/inuit-list-inline/objects.list-inline";
@import "object.header";
@import "object.wrapper";
@import "object.float";
@import "object.errors";




/**
 * #COMPONENTS
 */

@import "components.boutons";
@import "components.headings";
@import "components.body";
@import "components.home__list";
@import "components.section_list";
@import "components.product__list";
@import "components.productPicture__list";
@import "components.product__infos";
@import "components.panier";
@import "components.validation__steps";
@import "components.login";
@import "components.livraison";
@import "components.checkout";
@import "components.contact";
@import "components.infos__entretien";
@import "components.shops";
@import "components.recap__infos";


/**
 * #TRUMPS
 */
@import "../bower_components/inuit-clearfix/trumps.clearfix";

$inuit-use-fractions:   false;
@import "../bower_components/inuit-widths/trumps.widths";

$inuit-enable-margins:          true;
$inuit-enable-margins--huge:    true;
$inuit-enable-margins--none:    true;
@import "../bower_components/inuit-spacing/trumps.spacing";
@import "trumps.pushes";
@import "trumps.hide";

